#foto-profile, #foto-linguagens {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 150px;
    margin-right: 100px;
    display: block;
}

#foto-profile:hover {
    background: rgb(161, 78, 37);
}

#foto-linguagens {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 250px;
    margin-right: 100px;
    display: block;
}

#foto-linguagens:hover {
    background: rgb(161, 78, 37, 0.6);
}

#foto-python {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 150px;
    margin-right: 150px;
    display: block;
    opacity: 0.75;
}

#foto-python:hover {
    opacity: 1;
    background: rgb(161, 78, 37, 0.6);
}

#foto-java {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 150px;
    margin-right: 150px;
    display: block;
    opacity: 0.75;
}

#foto-java:hover {
    opacity: 1;
    background: rgb(204, 107, 59, 0.6);
}

#olamundo, #linguagens, #itens {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
}

#olamundo, #linguagens {
    font-size: 60px;
    text-align: left;
    background: linear-gradient(to top, rgb(204, 107, 59), rgb(161, 78, 37));
    -webkit-background-clip: text;
    color: transparent;
}

#container-baixo{
    margin-top: 150px;
}

#texto-topo {
    font-size: 35px;
    text-align: justify;
    margin-right: 450px;
}

#itens {
    font-size: 35px;
    text-align: left;
}

#repositorios {
    font-family: 'Tahoma', sans-serif;
    margin-top: 40px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;
    background: linear-gradient(to top, rgb(204, 107, 59), rgb(161, 78, 37));
    -webkit-background-clip: text;
    color: transparent;
}

#python-texto {
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
}

#python-texto2 {
    font-family: 'Tahoma', sans-serif;
    background: linear-gradient(to top, rgb(204, 107, 59), rgb(161, 78, 37));
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 10px;
    font-size: 45px;
    text-align: center;
}

.python-texto3 {
    font-family: 'Tahoma', sans-serif;
    margin-top: 15px;
    font-size: 28px;
    margin-left: 35px;
    text-align: center;
}

#java-texto {
    font-family: 'Tahoma', sans-serif;
    background: linear-gradient(to top, rgb(204, 107, 59), rgb(161, 78, 37));
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 10px;
    font-size: 45px;
    text-align: center;
}

.container {
    display: flex;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
}


.container .caixa {
    background: #fff;
    text-align: center;
}

.container2 {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}


.container2 .caixa {
    background: #fff;
    align-items: center;
    text-align: center;
}

.item-baixo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 150px;
    margin-right: 150px;
    display: block;
    align-items: center;
    opacity: 0.75;
}

.item-baixo:hover {
    opacity: 1;
    background: rgb(161, 78, 37, 0.6);
}

#container-baixo-java {
    margin-top: 200px;
}

@media (max-width: 768px) {
    container {
        flex-direction: column;
    }
}
