.box-titulo {
    font: Poppins;
    font-size: 35px;
    font-align: center;
}

.box-texto {
    font: Poppins;
    font-size: 24px;
}

.barra {
    display: none
}

.sobre {
    font: Poppins;
    font-size: 25px;
    margin-left: 75px;
    margin-right: 75px;
    line-height: 40px;
    box-shadow: 0 5px 10px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 10px;
    background: linear-gradient(45deg, violet, lightblue);
    text-align: justify;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
iframe {
    margin-top: 30px;
    width: 100%;
    height: 400px;
    border: 5px solid #ccc;
}

h1 {
    margin-top: 0px;
    height: 350px;
    line-height: 350px;
    font-family: Poppins;
    font-size: 60px;
    text-align: center;
    background-image: url('static/imagem-titulo.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
    font-family: Poppins;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(45deg, lightblue, lightgreen);
    margin-bottom: 0px;
}

h3 {
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    margin-top: 0px;
    height: 130px;
    line-height: 130px;
    font-family: Poppins;
    font-size: 60px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    background: linear-gradient(45deg, lightblue, lightgreen);
    margin-bottom: 0px;
}

h4 {
    display: none
}

h5 {
    height: 50px;
}

iframe {
    height: 600px;
}

.container {
    margin-top: 10px;
    background: linear-gradient(45deg, lightblue, lightgreen);
    padding:15px 9%;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap:15px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 10px;
}
